{% extends 'bases/home_base.html' %}
{% load static %}


{% block content %}



	<div class="cs-subheader left" style="background:url({% static 'extra-images/bg-subheader.jpg' %}) no-repeat 0 0 /cover; min-height:296px; padding:90px 0 0; margin-bottom:50px;">
    	<div class="container">
        	<div class="cs-page-title">
            	<h1 style="color:#fff !important;">ENTRER EN CONTACT</h1>
            </div>
        </div>
    </div>
	<!-- Main Start -->
	<div class="main-section"> 
		<div class="page-section" style=" padding-top:20px; padding-bottom:10px; ">
			  <div class="container">
					<div class="row">
						  <div class="section-fullwidtht col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="row">
									<!--Element Section Start-->
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="cs-contact-info left">
												<div class="cs-media"><i class="icon-map4 cs-color"></i></div>
												<div class="cs-text">
													<h6>Contact Info</h6>
													<p>Côte d'Ivoire, Abidjan, Marcory Zone 4 C Bietry, Rue du canal non loin de la Pharmacie Pérusia</p>
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="cs-contact-info left">
												<div class="cs-media"><i class="icon-envelope2 cs-color"></i></div>
												<div class="cs-text">
													<h6>Email Addresse</h6>
													<p style="font-size: 13px;">
														<a href="#">infos@trans-credit-ci.com</a>
													</p>
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="cs-contact-info left">
												<div class="cs-media"><i class="icon-phone4 cs-color"></i></div>
												<div class="cs-text">
													<h6>Numéro de Téléphone</h6>
													<p style="font-size: 13px;">
														<span>Téléphone: (+225) 27 21 35 89 43</span>
													</p>
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="cs-contact-info left">
												<div class="cs-media"><i class="icon-briefcase3 cs-color"></i></div>
												<div class="cs-text">
													<h6>Heures de travail</h6>
													<p><span>LUNDI - VENDREDI : 08:00 – 18:00</span>
													<span>SAMEDI: 08:00 – 12:00</span>
													<span>DIMANCHE: FERMER</span></p>
												</div>
											</div>
										</div>
										<div class="cs-seprater" style="text-align:center;"> <span> <i class="icon-transport177"> </i> </span> </div>
									<!--Element Section End-->
								</div>
						  </div>
					</div>
			  </div>
		</div>
		<div class="page-section" style="padding-top:40px; padding-bottom:60px;">
			  <div class="container">
					<div class="row">
						  <div class="section-fullwidtht col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="row">
									<!--Element Section Start-->
										<div class="cs-contact-form">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										
											<div class="cs-section-title">
											<h3 style="text-transform:uppercase !important;">PRENEZ CONTACT AVEC NOUS</h3>
											<p style="text-transform:uppercase;font-size:11px;color:#999999 !important;">
												Si vous avez des questions, n'hésitez pas à nous envoyer un message.
											.</p>
										</div>
										</div>
										<form>
										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
											<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<div class="cs-form-holder">
													<div class="input-holder"><input type="text" placeholder="Nom Complet"><i class=" icon-user"></i></div>
												</div>
											</div>
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<div class="cs-form-holder">
													<div class="input-holder"><input type="text" placeholder="Email Addresse"><i class=" icon-envelope"></i></div>
												</div>
											</div>
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<div class="cs-form-holder">
													<div class="input-holder"><input type="text" placeholder="Numéro de Téléphone"><i class="icon-mobile2"></i></div>
												</div>
											</div>
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<div class="cs-form-holder">
													<div class="input-holder" id="data-toggle">
													<input type="checkbox" id="cbox2" value="second_checkbox"> <label for="cbox2">Abonnez-vous et recevez les dernières mises à jour et offres par email</label>
													</div>
												</div>
											</div>
										</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">	
											<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<div class="cs-form-holder">
													<div class="input-holder">
													<textarea placeholder="Message"></textarea><i></i></div>
												</div>
											</div>
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<div class="cs-btn-submit cs-color">	
												<input type="submit" value="Contactez-Nous">
												</div>
											</div>
											</div>
										</div>	
										</form>
										</div>
											</div>
										</div>	
									<!--Element Section End-->
								</div>
						  </div>
					</div>
		<!--
		<div class="page-section" style=" margin-bottom:25px;">
			  <div class="container">
					<div class="row">
						  <div class="section-fullwidtht col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="row">
									<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="maps loader">
											<iframe height="350" frameborder="0" allowfullscreen="" style="border: 0px none; width: 100%; pointer-events: none;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d85325.03550975422!2d-1.957436106486313!3d53.45954307751346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x25a3b1142c791a9%3A0xc4f8a0433288257a!2sUnited+Kingdom!5e0!3m2!1sen!2s!4v1455785475576"></iframe>
										</div>
	  								</div>
								</div>
						  </div>
					</div>
			  </div>
		</div>
		-->
	</div>
	<!-- Main End --> 
	
{% endblock content %}










