{% extends 'bases/home_base.html' %}
{% load static %}


{% block content %}



<!-- Main Start -->
<div class="main-section"> 
	<div class="page-section">
	  <div class="container">
		<div class="row">
		  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="woocommerce" style="padding-top: 50px;">
			  <form class="checkout woocommerce-checkout row">
				<div id="customer_details" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				  <div class="col2-set">
					<div class="woocommerce-billing-fields">
					  <h4>Mes Informations Personnelles</h4>
						<p class="form-row form-row form-row-first validate-required">
							<label class="" for="billing_last_name">Nom <abbr title="required" class="required">*</abbr></label>
							<input type="text" value="" placeholder="Entrez votre nom" id="billing_last_name" name="billing_last_name" class="input-text ">
						</p>
						<p class="form-row form-row form-row-last validate-required">
							<label class="" for="billing_first_name">Prénom <abbr title="required" class="required">*</abbr></label>
							<input type="text" value="" placeholder="Entrez votre prénom" class="input-text ">
						</p>
						<p class="form-row form-row form-row-first validate-required">
							<label class="" for="billing_email">Email Addresse  <abbr title="required" class="required">*</abbr></label>
							<input type="text" value="" placeholder="Entrez votre adresse email" id="billing_email" name="billing_email" class="input-text ">
						</p>
						<p class="form-row form-row form-row-last validate-required">
							<label class="" for="billing_phone">Numéro de Téléphone  <abbr title="required" class="required">*</abbr></label>
							<input type="text" value="" placeholder="Entrez votre numéro de téléphone" class="input-text ">
						</p>
						<p class="form-row form-row form-row-first validate-required">
							<label class="" for="billing_ville">Ville   <abbr title="required" class="required">*</abbr></label>
							<input type="text" value="" placeholder="Entrez votre ville" id="billing_ville" name="billing_ville" class="input-text ">
						</p>
						<p class="form-row form-row form-row-last validate-required">
							<label class="" for="billing_commune">Commune   <abbr title="required" class="required">*</abbr></label>
						  	<input type="text" value="" placeholder="Entrez votre commune" class="input-text ">
						</p>
					  
					  
					  <div class="clear"></div>
					  
					</div>
				  </div>
				</div>
			   
			   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">	
				   <div class="form-row place-order">
					   <input type="submit" data-value="Upload Photos" value="Envoyer" class="button alt cs-bgcolor">	
				   </div>
			   </div>
			  </form>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	

	<div class="page-section" style="margin-bottom:0; margin-top: 50px; background:#edf0f5; padding:35px 0 ;">
	   <div class="container">
		   <div class="row">
			   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				   <ul class="cs-partners-slider">
					<li><a href="#"><img src="{% static 'images/renault.png' %}" alt="" /></a></li>
					<li><a href="#"><img src="{% static 'images/suzuki.png' %}" alt="" /></a></li>
					<li><a href="#"><img src="{% static 'extra-images/partner-img-5.jpg' %}" alt="" /></a></li>
					<li><a href="#"><img src="{% static 'images/renault.png' %}" alt="" /></a></li>
					<li><a href="#"><img src="{% static 'images/suzuki.png' %}" alt="" /></a></li>
					<li><a href="#"><img src="{% static 'extra-images/partner-img-5.jpg' %}" alt="" /></a></li>
					<li><a href="#"><img src="{% static 'images/renault.png' %}" alt="" /></a></li>
					<li><a href="#"><img src="{% static 'images/suzuki.png' %}" alt="" /></a></li>
					<li><a href="#"><img src="{% static 'extra-images/partner-img-5.jpg' %}" alt="" /></a></li>
				   </ul>
			   </div>
		   </div>
	   </div>
   </div>
   </div>
   <!-- Main End --> 



   {% endblock content %}