{% extends 'bases/home_base.html' %}
{% load static %}


{% block content %}





<!--tabs section-->
<div class="page-section" style="padding-top:100px; padding-bottom:0px;">
    <div class="container">
        <div class="row">
            <div class="section-fullwidtht col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 co-sm-12 col-xs-12"><!--Element Section Start-->
                        <div class="cs-section-title">
                            <h3 style="text-transform:uppercase !important;">Découvrez nos différents taxis</h3>
                        </div>
                        <!--Tabs Start-->
                        
                        <div class="cs-tabs full-width">
                            <div class="tab-content">
                                <div id="home" class="tab-pane fade in active">
                                    <div class="row">
                                        
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <div class="auto-listing auto-grid">
                                                <div class="cs-media">
                                                    <figure> <img width="253" height="171" src="{% static 'images/mini_taxis/RENAULT KWID.jpg' %}" alt="#"/></figure>
                                                </div>
                                                <div class="auto-text"> <span class="cs-categories"><a href="#">Renault</a></span>
                                                    <div class="post-title">
                                                        <h6><a href="#">Renault Kwid </a></h6>
                                                    </div>
                                                    <div class="btn-list"> <a href="javascript:void(0)" class="btn btn-danger collapsed" data-toggle="collapse" data-target="#list-view6"></a>
                                                        <div id="list-view6" class="collapse">
                                                            <ul>
                                                                <li>Année : 2020 /2021</li>
                                                                <li>Energie Essence</li>
                                                                <li>Boîte Manuelle</li>
                                                                <li>Kilométrage : 0 km au compteur</li>
                                                                <li>3 cylindres</li>
                                                                <li>Climatisation d’origine</li>
                                                                <li>Très confortable</li>
                                                                <li>Nombre de place : 5 places</li>
                                                                <li>4 Portières</li>
                                                                <li>Capacité du coffre : 290 litres</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="cs-checkbox">
                                                    </div>
                                                    <div class="cs-column-text" style="text-align: center;">
                                                        <a href="shop-detail.html" class="cs-button" style="color:#fff; font-size:15px; padding:5px 20px; text-shadow: 3px 4px 6px rgba(0,0,0,.37); margin-bottom:20px; ">Voir les détails  <i class=" icon-arrow-long-right"></i></a> 
                                                    </div>														
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <div class="auto-listing auto-grid">
                                                <div class="cs-media">
                                                    <figure> <img width="253" height="171" src="{% static 'images/mini_taxis/RENAULT LOGAN.jpg' %}" alt="#"/></figure>
                                                </div>
                                                <div class="auto-text"> <span class="cs-categories"><a href="#">Renault</a></span>
                                                    <div class="post-title">
                                                        <h6><a href="#">RENAULT LOGAN </a></h6>
                                                    </div>
                                                    <div class="btn-list"> <a href="javascript:void(0)" class="btn btn-danger collapsed" data-toggle="collapse" data-target="#list-view7"></a>
                                                        <div id="list-view7" class="collapse">
                                                            <ul>
                                                                <li>Année : 2020 /2021</li>
                                                                <li>Energie Essence</li>
                                                                <li>Boîte Manuelle</li>
                                                                <li>Kilométrage : 0 km au compteur</li>
                                                                <li>3 cylindres</li>
                                                                <li>Climatisation d’origine</li>
                                                                <li>Jantes en Aluminium</li>
                                                                <li>Très confortable</li>
                                                                <li>Nombre de place : 5 places</li>
                                                                <li>4 Portières</li>
                                                                <li>Capacité du coffre : 528 litres</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="cs-checkbox">
                                                    </div>
                                                    <div class="cs-column-text" style="text-align: center;">
                                                        <a href="shop-detail.html" class="cs-button" style="color:#fff; font-size:15px; padding:5px 20px; text-shadow: 3px 4px 6px rgba(0,0,0,.37); margin-bottom:20px; ">Voir les détails  <i class=" icon-arrow-long-right"></i></a> 
                                                    </div>														
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <div class="auto-listing auto-grid">
                                                <div class="cs-media">
                                                    <figure> <img width="253" height="171" src="{% static 'images/mini_taxis/SUZIKI SPRESSO.jpg' %}" alt="#"/></figure>
                                                </div>
                                                <div class="auto-text"> <span class="cs-categories"><a href="#">Suzuki</a></span>
                                                    <div class="post-title">
                                                        <h6><a href="#">Suzuki S'Presso </a></h6>
                                                    </div>
                                                    <div class="btn-list"> <a href="javascript:void(0)" class="btn btn-danger collapsed" data-toggle="collapse" data-target="#list-view2"></a>
                                                        <div id="list-view2" class="collapse">
                                                            <ul>
                                                                <li>Année : 2020 / 2021</li>
                                                                <li>Energie Essence</li>
                                                                <li>Boîte Manuelle</li>
                                                                <li>Kilométrage : 0 km au compteur</li>
                                                                <li>4 Cylindres</li>
                                                                <li>Jantes en toles 14</li>
                                                                <li>Climatisation d'origine</li>
                                                                <li>Très Confortable</li>
                                                                <li>Nombre de Place : 5 Places</li>
                                                                <li>4 Portières</li>
                                                                <li>Capacité du réservoire : 239 litres</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="cs-checkbox">
                                                    </div>
                                                    <div class="cs-column-text" style="text-align: center;">
                                                        <a href="shop-detail.html" class="cs-button" style="color:#fff; font-size:15px; padding:5px 20px; text-shadow: 3px 4px 6px rgba(0,0,0,.37); margin-bottom:20px; ">Voir les détails  <i class=" icon-arrow-long-right"></i></a> 
                                                    </div>														
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <div class="auto-listing auto-grid">
                                                <div class="cs-media">
                                                    <figure> <img width="253" height="171" src="{% static 'images/mini_taxis/SUZUKI DZIRE.jpg' %}" alt="#"/></figure>
                                                </div>
                                                <div class="auto-text"> <span class="cs-categories"><a href="#">Suzuki</a></span>
                                                    <div class="post-title">
                                                        <h6><a href="#">SUZUKI DZIRE </a></h6>
                                                    </div>
                                                    <div class="btn-list"> <a href="javascript:void(0)" class="btn btn-danger collapsed" data-toggle="collapse" data-target="#list-view3"></a>
                                                        <div id="list-view3" class="collapse">
                                                            <ul>
                                                                <li>Année : 2020 / 2021</li>
                                                                <li>Energie Essence</li>
                                                                <li>Boîte Manuelle</li>
                                                                <li>Kilométrage : 0 km au compteur</li>
                                                                <li>4 Cylindres</li>
                                                                <li>Jantes en toles 14</li>
                                                                <li>Climatisation d'origine</li>
                                                                <li>Très Confortable</li>
                                                                <li>Nombre de Place : 5 Places</li>
                                                                <li>4 Portières</li>
                                                                <li>Capacité du réservoire : 378 litres</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="cs-checkbox">
                                                    </div>
                                                    <div class="cs-column-text" style="text-align: center;">
                                                        <a href="shop-detail.html" class="cs-button" style="color:#fff; font-size:15px; padding:5px 20px; text-shadow: 3px 4px 6px rgba(0,0,0,.37); margin-bottom:20px; ">Voir les détails  <i class=" icon-arrow-long-right"></i></a> 
                                                    </div>														
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <div class="auto-listing auto-grid">
                                                <div class="cs-media">
                                                    <figure> <img width="253" height="171" src="{% static 'images/mini_taxis/SUZUKI SWIFT.png' %}" alt="#"/> </figure>
                                                </div>
                                                <div class="auto-text"> <span class="cs-categories"><a href="#">SUZUKI</a></span>
                                                    <div class="post-title">
                                                        <h5><a href="#">Suzuki Swift </a></h5>
                                                        <!--
                                                            <div class="auto-price"><span class="cs-color">$25,000</span> <em>MSRP $27,000</em></div>
                                                        -->
                                                    </div>
                                                    <div class="btn-list"> <a href="javascript:void(0)" class="btn btn-danger collapsed" data-toggle="collapse" data-target="#list-view4"></a>
                                                        <div id="list-view4" class="collapse">
                                                            <ul>
                                                                <li>Année : 2020 / 2021</li>
                                                                <li>Energie Essence</li>
                                                                <li>Boîte Manuelle</li>
                                                                <li>Kilométrage : 0 km au compteur</li>
                                                                <li>4 Cylindres</li>
                                                                <li>Jantes en toles 14</li>
                                                                <li>Climatisation d'origine</li>
                                                                <li>Très Confortable</li>
                                                                <li>Nombre de Place : 5 Places</li>
                                                                <li>4 Portières</li>
                                                                <li>Capacité du réservoire : 268 litres</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="cs-checkbox">
                                                    </div>
                                                    <div class="cs-column-text" style="text-align: center;">
                                                        <a href="shop-detail.html" class="cs-button" style="color:#fff; font-size:15px; padding:5px 20px; text-shadow: 3px 4px 6px rgba(0,0,0,.37); margin-bottom:20px; ">Voir les détails  <i class=" icon-arrow-long-right"></i></a> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <div class="auto-listing auto-grid">
                                                <div class="cs-media">
                                                    <figure> <img width="253" height="171" src="{% static 'images/mini_taxis/SUZUKI ALTO.jpg' %}" alt="#"/></figure>
                                                </div>
                                                <div class="auto-text"> <span class="cs-categories"><a href="#">SUZUKI</a></span>
                                                    <div class="post-title">
                                                        <h6><a href="#">Suzuki Alto </a></h6>
                                                    </div>
                                                    <div class="btn-list"> <a href="javascript:void(0)" class="btn btn-danger collapsed" data-toggle="collapse" data-target="#list-view5"></a>
                                                        <div id="list-view5" class="collapse">
                                                            <ul>
                                                                <li>Année : 2020 / 2021</li>
                                                                <li>Energie Essence</li>
                                                                <li>Boîte Manuelle</li>
                                                                <li>Kilométrage : 0 km au compteur</li>
                                                                <li>4 Cylindres</li>
                                                                <li>Jantes en toles 14</li>
                                                                <li>Climatisation d'origine</li>
                                                                <li>Très Confortable</li>
                                                                <li>Nombre de Place : 5 Places</li>
                                                                <li>4 Portières</li>
                                                                <li>Capacité du réservoire : 180 litres</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="cs-checkbox">
                                                    </div>
                                                    <div class="cs-column-text" style="text-align: center;">
                                                        <a href="shop-detail.html" class="cs-button" style="color:#fff; font-size:15px; padding:5px 20px; text-shadow: 3px 4px 6px rgba(0,0,0,.37); margin-bottom:20px; ">Voir les détails  <i class=" icon-arrow-long-right"></i></a> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <div class="auto-listing auto-grid">
                                                <div class="cs-media">
                                                    <figure> <img width="253" height="171" src="{% static 'images/mini_taxis/TOYOTA STARLET.jpg' %}" alt="#"/> </figure>
                                                </div>
                                                <div class="auto-text"> <span class="cs-categories"><a href="#">Toyota</a></span>
                                                    <div class="post-title">
                                                        <h5><a href="#">TOYOTA Starlet </a></h5>
                                                        <!--
                                                            <div class="auto-price"><span class="cs-color">$25,000</span> <em>MSRP $27,000</em></div>
                                                        -->
                                                    </div>
                                                    <div class="btn-list"> <a href="javascript:void(0)" class="btn btn-danger collapsed" data-toggle="collapse" data-target="#list-view"></a>
                                                        <div id="list-view" class="collapse">
                                                            <ul>
                                                                <li>Année : 2020 / 2021</li>
                                                                <li>Energie : Essence</li>
                                                                <li>Boîte Manuelle</li>
                                                                <li>Nombre de Place : 5 Places</li>
                                                                <li>4 Cylindres</li>
                                                                <li>4 Portières</li>
                                                                <li>Jantes en toles avec enjoliveurs</li>
                                                                <li>Capacité du réservoire : 371 litres</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="cs-checkbox">
                                                        <input type="checkbox" name="list" value="check-listn" id="check-list">
                                                    </div>
                                                    <div class="cs-column-text" style="text-align: center;">
                                                        <a href="shop-detail.html" class="cs-button" style="color:#fff; font-size:15px; padding:5px 20px; text-shadow: 3px 4px 6px rgba(0,0,0,.37); margin-bottom:20px; ">Voir les détails  <i class=" icon-arrow-long-right"></i></a> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <div class="auto-listing auto-grid">
                                                <div class="cs-media">
                                                    <figure> <img width="253" height="171" src="{% static 'images/mini_taxis/TOYOTA STARLET.jpg' %}" alt="#"/></figure>
                                                </div>
                                                <div class="auto-text"> <span class="cs-categories"><a href="#">Toyota</a></span>
                                                    <div class="post-title">
                                                        <h6><a href="#">Toyota Corolla </a></h6>
                                                    </div>
                                                    <div class="btn-list"> <a href="javascript:void(0)" class="btn btn-danger collapsed" data-toggle="collapse" data-target="#list-view1"></a>
                                                        <div id="list-view1" class="collapse">
                                                            <ul>
                                                                <li>Année : 2020 / 2021</li>
                                                                <li>Energie : Essence</li>
                                                                <li>Boîte Manuelle</li>
                                                                <li>Nombre de Place : 5 Places</li>
                                                                <li>4 Cylindres</li>
                                                                <li>4 Portières</li>
                                                                <li>Jantes en toles avec enjoliveurs</li>
                                                                <li>Capacité du réservoire : 501 litres</li>
                                                                <li>Type de Moteur en Ligle</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="cs-checkbox">
                                                    </div>
                                                    <div class="cs-column-text" style="text-align: center;">
                                                        <a href="shop-detail.html" class="cs-button" style="color:#fff; font-size:15px; padding:5px 20px; text-shadow: 3px 4px 6px rgba(0,0,0,.37); margin-bottom:20px; ">Voir les détails  <i class=" icon-arrow-long-right"></i></a> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                </div>

                        </div>
                        <!--Tabs End--> 
                        <!--Element Section End-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--tabs section-->






{% endblock content %}