{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Trans Credit CI</title>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
<link href="{% static 'css/iconmoon.css' %}" rel="stylesheet">
<link href="{% static 'css/chosen.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/cs-automobile-plugin.css' %}" rel="stylesheet">
<link href="{% static 'css/color.css' %}" rel="stylesheet">
<link href="{% static 'css/widget.css' %}" rel="stylesheet">
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
<!-- <link href="{% static 'css/bootstrap-rtl.css" rel="stylesheet"> Uncomment it if needed! -->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<script src="{% static 'scripts/jquery.js' %}"></script>
<script src="{% static 'scripts/modernizr.js' %}"></script>
<script src="{% static 'scripts/bootstrap.min.js' %}"></script>
</head>
<body class="wp-automobile">
<div class="wrapper"> 
	<!-- Header Start -->
	<header id="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<div class="cs-logo">
						<div class="cs-media">
							<figure><a href="{% url 'index' %}"><img src="{% static 'images/logo_trans.png' %}" alt="" /></a></figure>
						</div>
					</div>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
					<div class="cs-main-nav pull-right">
						<nav class="main-navigation">
							<ul>
								<li><a href="{% url 'index' %}">Accueil</a></li>
								<li><a href="{% url 'about' %}">A Propos de l'offre</a></li>
								<li><a href="{% url 'vehicule' %}">Nos Vehicules</a></li>
								<li><a href="{% url 'contact' %}">Contact</a></li>
								<!--
									<li><a href="#">Inventory</a>
										<ul>
											<li><a href="auto-grid.html">Grid Style</a></li>
											<li><a href="auto-listing.html">Classic Style</a></li>
											<li><a href="car-listing-detail.html">Detail Page</a></li>
										</ul>
									</li>
								-->
								<li class="cs-user-option">
									<div class="cs-login">
										<a class="cs-bgcolor btn-form" href="{% url 'about' %}">Souscrire</a> 
									</div>
									<!--<div class="cs-wish-list"><a href="#"><i class=" icon-heart4"></i><span>0</span></a>
                                        <div class="wish-list-dropdown">
                                            <strong>Post a new Ad</strong>
                                            <ul>
                                                <li class="alert alert-dismissible  fade in" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <div class="cs-media">
                                                        <a href="#">
                                                            <img src="{% static 'extra-images/single-banner-img-1.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="cs-info">
                                                        <h6><a href="#">Desktop Application Developer Support</a></h6>
                                                        Added <span>Feb 8, 2016</span>
                                                    </div>
                                                </li>
                                                <li class="alert alert-dismissible  fade in" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <div class="cs-media">
                                                        <a href="#">
                                                            <img src="{% static 'extra-images/single-banner-img-2.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="cs-info">
                                                        <h6><a href="#">Desktop Application Developer Support</a></h6>
                                                        Added <span>Feb 8, 2016</span>
                                                    </div>
                                                </li>
                                                <li class="alert alert-dismissible  fade in" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <div class="cs-media">
                                                        <a href="#">
                                                            <img src="{% static 'extra-images/single-banner-img-3.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="cs-info">
                                                        <h6><a href="#">Desktop Application Developer Support</a></h6>
                                                        Added <span>Feb 8, 2016</span>
                                                    </div>
                                                </li>
                                                <li class="alert alert-dismissible  fade in" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <div class="cs-media">
                                                        <a href="#">
                                                            <img src="{% static 'extra-images/single-banner-img-1.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="cs-info">
                                                        <h6><a href="#">Desktop Application Developer Support</a></h6>
                                                        Added <span>Feb 8, 2016</span>
                                                    </div>
                                                </li>
                                                <li class="alert alert-dismissible  fade in" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <div class="cs-media">
                                                        <a href="#">
                                                            <img src="{% static 'extra-images/single-banner-img-2.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="cs-info">
                                                        <h6><a href="#">Desktop Application Developer Support</a></h6>
                                                        Added <span>Feb 8, 2016</span>
                                                    </div>
                                                </li>
                                                <li class="alert alert-dismissible  fade in" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <div class="cs-media">
                                                        <a href="#">
                                                            <img src="{% static 'extra-images/single-banner-img-3.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="cs-info">
                                                        <h6><a href="#">Desktop Application Developer Support</a></h6>
                                                        Added <span>Feb 8, 2016</span>
                                                    </div>
                                                </li>
                                            </ul>
                                            <a class="btn-view-all" href="#">View All</a>
                                        </div>
                                    </div>--> 
								</li>
							</ul>
						</nav>
                        <div class="cs-user-option hidden-lg visible-sm visible-xs">
							<div class="cs-login">
								<a class="cs-bgcolor btn-form" href="{% url 'about' %}">Souscrire</a> 
							</div>
							<!--<div class="cs-wish-list"><a href="#"><i class=" icon-heart4"></i><span>0</span></a>
                            <div class="wish-list-dropdown">
                                <strong>Post a new Ad</strong>
                                <ul>
                                    <li class="alert alert-dismissible  fade in" role="alert">

                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <div class="cs-media">
                                            <a href="#">
                                                <img src="{% static 'extra-images/single-banner-img-1.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="cs-info">
                                            <h6><a href="#">Desktop Application Developer Support</a></h6>
                                            Added <span>Feb 8, 2016</span>
                                        </div>
                                    </li>
                                    <li class="alert alert-dismissible  fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <div class="cs-media">
                                            <a href="#">
                                                <img src="{% static 'extra-images/single-banner-img-2.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="cs-info">
                                            <h6><a href="#">Desktop Application Developer Support</a></h6>
                                            Added <span>Feb 8, 2016</span>
                                        </div>
                                    </li>
                                    <li class="alert alert-dismissible  fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <div class="cs-media">
                                            <a href="#">
                                                <img src="{% static 'extra-images/single-banner-img-3.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="cs-info">
                                            <h6><a href="#">Desktop Application Developer Support</a></h6>
                                            Added <span>Feb 8, 2016</span>
                                        </div>
                                    </li>
                                    <li class="alert alert-dismissible  fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <div class="cs-media">
                                            <a href="#">
                                                <img src="{% static 'extra-images/single-banner-img-1.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="cs-info">
                                            <h6><a href="#">Desktop Application Developer Support</a></h6>
                                            Added <span>Feb 8, 2016</span>
                                        </div>
                                    </li>
                                    <li class="alert alert-dismissible  fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <div class="cs-media">
                                            <a href="#">
                                                <img src="{% static 'extra-images/single-banner-img-2.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="cs-info">
                                            <h6><a href="#">Desktop Application Developer Support</a></h6>
                                            Added <span>Feb 8, 2016</span>
                                        </div>
                                    </li>
                                    <li class="alert alert-dismissible  fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <div class="cs-media">
                                            <a href="#">
                                                <img src="{% static 'extra-images/single-banner-img-3.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="cs-info">
                                            <h6><a href="#">Desktop Application Developer Support</a></h6>
                                            Added <span>Feb 8, 2016</span>
                                        </div>
                                    </li>
                                </ul>
                                <a class="btn-view-all" href="#">View All</a>
                            </div>
                        </div>--> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header End --> 

    {% block content %}


    {% endblock content %}

    <!-- Footer Start -->
	<footer id="footer" style="background:#19171a;padding:72px 0 0">
		<div class="cs-footer-widgets">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
						<div class="widget widget-our-partners">
							<div class="widget-section-title">
                                
                                <h4 style="color:#fff !important">A PROPOS DE NOUS</h4>
                                    
							</div>
                            <p style="font-size: 18px; font-weight: 700; font-family: Raleway, sans-serif;">
                                Sociéte import-export de véhicule de <br>transport et de marchandises.
                            </p>
							<ul>
								<li><a href="{% url 'contact' %}" style="font-size: 25px; padding-top: 05px; padding-bottom: 13px;"><i class="icon-phone_android" style="padding-right: 5px;"></i> (+225)   27 21 35 89 43</a></li>
								<li><a href="{% url 'contact' %}" style="font-size: 18px; padding-bottom: 13px;"><i class="icon-envelope2" style="padding-right: 5px;"></i> infos@trans-credit-ci.com</a></li>
                                <li><a href="{% url 'contact' %}" style="font-size: 18px; padding-bottom: 13px;"><i class="icon-map4" style="padding-right: 5px;"></i> Côte d'Ivoire, Abidjan, Marcory Zone 4 C Bietry,<br> Rue du canal non loin de la Pharmacie Pérusia</a></li>
							</ul>
						</div>
					</div>
                    
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="widget widget-categores">
							<div class="widget-section-title">
								<h4 style="color:#fff !important">CATEGORIES</h4>
							</div>
							<ul>
                                <li><a href="{% url 'vehicule' %}" style="font-size: 16px; padding-bottom: 5px;"> Toyota</a></li>
								<li><a href="{% url 'vehicule' %}" style="font-size: 16px; padding-bottom: 5px;"> Suzuki</a></li>
                                <li><a href="{% url 'vehicule' %}" style="font-size: 16px; padding-bottom: 5px;"> Renault</a></li>
							</ul>
						</div>
					</div>
					
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="widget widget-news-letter">
							<div class="widget-section-title">
								<h4 style="color:#fff !important">ABONNEZ-VOUS AUX DERNIERES ACTUALITES</h4>
							</div>
							<p style="font-size: 16px;">Abonnez-vous maintenant pour recevoir des mises à jour quotidiennes. </p>
							<div class="cs-form">
								<form>
									<div class="input-holder">
										<input type="email" placeholder="Entrez une adresse email valide">
										<label> <i class="icon-send2"></i>
											<input class="cs-bgcolor" type="submit" value="Envoyer">
										</label>
									</div>
								</form>
							</div>
							<div class="cs-social-media">
								<ul>
									<li><a href="https://facebook.com" data-original-title="facebook"><i class="icon-facebook-f"></i></a></li>
									<li><a href="https://twitter.com" data-original-title="twitter"><i class="icon-twitter4"></i></a></li>
									<li><a href="https://linkedin.com" data-original-title="linkedin"><i class="icon-linkedin22"></i></a></li>
									<li><a href="https://youtube.com" style="background-color: rgb(202, 14, 14);" data-original-title="vimeo"><i class="icon-youtube"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="cs-copyright" style="background:#141215; padding-top:37px; padding-bottom:37px;">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="copyright-text">
							<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script>|  Powered  by <a href="https://mosendev.team/" target="_blank">MOSENDEV</a>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="cs-back-to-top">
							<!---<address>
							<i class="icon-phone"></i> <a href="#">(+225) 05 55 14 11 79 / (+225) 07 89 34 64 65</a>
							</address>
							<a class="btn-to-top cs-bgcolor" href="#"><i class="icon-keyboard_arrow_up"></i></a> </div>--->
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer End --> 
</div>
<script src="{% static 'scripts/responsive.menu.js' %}"></script> 
<script src="{% static 'scripts/chosen.select.js' %}"></script> 
<script src="{% static 'scripts/slick.js' %}"></script> 
<script src="{% static 'scripts/echo.js' %}"></script> 
<!-- Put all Functions in functions.js' %} --> 
<script src="{% static 'scripts/functions.js' %}"></script>
</body>

</html>