{% extends 'bases/home_base.html' %}
{% load static %}


{% block content %}


	
	<!-- Main Start -->
	<div class="main-section"> 
		<div class="page-section">
        	<div class="container">
            	<div class="row">
                	<div class="section-fullwidth col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    	<div class="row">
                            <div class="page-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="site-main">
                                	<div class=" product type-product has-post-thumbnail product-type-simple">
                                    	
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                <div class="page-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="site-main">
                                                        <div class=" product type-product has-post-thumbnail product-type-simple">
                                                            <div class="images">
                                                                <a href="#"><img src="{% static 'images/taxis/SUZIKI SPRESSO.jpg' %}" alt="shop" /></a>
                                                                <!--
                                                                    <div class="thumbnails columns-4">
                                                                    <a href="#"><img src="{% static 'extra-images/listing-Grid-img1.jpg" alt="shop" /></a>
                                                                    <a href="#"><img src="{% static 'extra-images/Shop-thumb2.jpg" alt="shop" /></a>
                                                                    <a href="#"><img src="{% static 'extra-images/Shop-thumb3.jpg" alt="shop" /></a>
                                                                    <a href="#"><img src="{% static 'extra-images/Shop-thumb4.jpg" alt="shop" /></a>
                                                                </div>
                                                                -->
                                        
                                                            </div>
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="padding-top: 50px;" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <div class="page-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="site-main">
                                                        <div class=" product type-product has-post-thumbnail product-type-simple">
                                                            
                                                            <div class="summary entry-summary">
                                                                <!--
                                                                    <div class="star-rating" title="Rated 5 out of 5">
                                                                        <span style="width:86%"><strong class="rating">5</strong> out of 5</span>
                                                                    </div>
                                                                -->
                                                                
                                                                <!--
                                                                    <em>(1 Avis client)</em>
                                                                -->
                                                                
                                                                <span class="stock_wrapper">Disponibilité: <span class="stock cs-color">En Stock</span></span>
                                                                <h3>SUZUKI S'PRESSO</h3>
                                                                
                                                                <div class="description">
                                                                    <p>La S-Presso est un SUV urbain et malin. C'est le nouveau SUV qui permet d'​agrandir la famille. </p>
                                                                </div>
                                                                <div class="cs-column-text">
                                                                    <a href="{% url 'formulaire' %}" class="cs-button" style="color:#fff; font-size:15px; font-weight: bold; padding:5px 20px; text-shadow: 3px 4px 6px rgba(0,0,0,.37); margin-bottom:20px; ">SOUSCRIRE</a> 
                                                                </div>                                            
                                                                <div class="product_meta">
                                                                    <span class="posted_in">
                                                                        Categorie: 
                                                                        <a rel="tag">SUZUKI</a>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                           
                                                        </div>
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>
                                        
                                        <div class="woocommerce-tabs wc-tabs-wrapper">
                                        	<!-- Nav tabs -->
                                            <ul class="nav nav-tabs wc-tabs" role="tablist">
                                            	<li role="presentation" class="active">
                                                	<a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a>
                                                </li>
                                            	<li role="presentation">
                                                	<a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Commentaires</a>
                                                </li>
                                            </ul>
                                        
                                          <!-- Tab panes -->
                                          <div class="tab-content" style="padding-top: 20px;">
                                            <div role="tabpanel" class="tab-pane active" id="home">
                                            	<h5>Description du Produit</h5>
                                                
                                                <ul class="list-style">
                                                    <li>Année : 2020 / 2021</li>
                                                    <li>Energie Essence</li>
                                                    <li>Boîte Manuelle</li>
                                                    <li>Kilométrage : 0 km au compteur</li>
                                                    <li>4 Cylindres</li>
                                                    <li>Jantes en toles 14</li>
                                                    <li>Climatisation d'origine</li>
                                                    <li>Très Confortable</li>
                                                    <li>Nombre de Place : 5 Places</li>
                                                    <li>4 Portières</li>
                                                    <li>Capacité du réservoire : 239 litres</li>
                                                </ul>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="messages">
                                            	<div id="reviews">
                                                	<div id="comments">
                                            			<h5>Commentaires</h5>
                                                        <ol class="commentlist">
                                                            <!--
                                                                Commentaires

                                                                <li class="comment even thread-even depth-1">
                                                                <div class="comment_container">
                                                                    <img src="{% static 'extra-images/Shop-comment2.jpg' %}" alt="#" />
                                                                    <div class="comment-text">
                                                                        <p class="meta">
                                                                            <em>Brian Adamas</em>
                                                                            September 6, 2015, 05:32PM
                                                                        </p>
                                                                        <div class="star-rating">
                                                                            <span style="width:60%"><strong itemprop="ratingValue">3</strong> out of 5</span>
                                                                        </div>
                                                                        <div class="description">
                                                                            <p> Sed id magna tellus. Ut eget dictum magna. Proin pharetra, elit nec accumsan posuere, massa tellus lobortis mi, a viverra nisi metus et risus. Praesent efficitur neque nibh, non maximus ante suscipit non.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            -->
                                                           
                                                            <p class="meta">
                                                                Aucun Commentaires
                                                            </p>
                                                          
                                                    	</ol>
                                                    </div>
                                                    <div id="review_form_wrapper">
			<div id="review_form">
								<div class="comment-respond" id="respond">
			<h5 class="comment-reply-title" id="reply-title">Ajouter un commentaire  <small><a style="display:none;" href="#" id="cancel-comment-reply-link" rel="nofollow">Cancel reply</a></small></h5>				<form novalidate class="comment-form" id="commentform" method="post" action="http://motors.stylemixthemes.com/wp-comments-post.php">
					<p class="comment-form-rating"><p class="stars"><span><a href="#" class="star-1">1</a><a href="#" class="star-2">2</a><a href="#" class="star-3">3</a><a href="#" class="star-4">4</a><a href="#" class="star-5">5</a></span></p><select id="rating" name="rating" style="display: none;" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
									<option value="">Rate…</option>
									<option value="5">Perfect</option>
									<option value="4">Good</option>
									<option value="3">Average</option>
									<option value="2">Not that bad</option>
									<option value="1">Very Poor</option>
								</select>
                                <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;">
                                <span class="selection">
                                <span aria-expanded="false" aria-haspopup="true" aria-autocomplete="list" role="combobox" class="select2-selection select2-selection--single" tabindex="0" aria-labelledby="select2-rating-container">
                                <span class="select2-selection__rendered" id="select2-rating-container" title="Rate…">Donnez une note</span>
                                <span role="presentation" class="select2-selection__arrow"><b role="presentation"></b></span></span>
                                </span><span aria-hidden="true" class="dropdown-wrapper"></span></span></p>
                                <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <p class="comment-form-author">
                                        <input type="text" placeholder="Nom et Prénom" />
                                    </p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <p class="comment-form-author">
                                        <input type="text" placeholder="Numero de téléphone" />
                                    </p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <p class="comment-form-author">
                                        <input type="text" placeholder="Sujet" />
                                    </p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <p class="comment-form-email">
                                        <input type="text" placeholder="Email Addresse">
                                    </p>
                                </div>
							</div>
                            <p class="comment-form-comment">
                                <textarea placeholder="Votre Commentaire"></textarea>
                            </p>
                            <p class="form-submit">
                            	<input type="submit" value="Envoyer le message" class="submit cs-bgcolor"> 
                            	<input type="hidden" />
                            	<input type="hidden" />
                            </p>
                            <p style="display: none;">
                            	<input type="hidden" />
                            </p>
							<p style="display: none;" class="stm-hidden"></p>				
                            <input type="hidden" />
                            </form>
					</div>
                    <!-- #respond -->
				</div>
			</div>
                                                </div>
                                                
                                            </div>
                                          </div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-section" style="margin-bottom:0; background:#edf0f5; padding:35px 0 ;">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<ul class="cs-partners-slider">
							<li><a href="#"><img src="{% static 'images/renault.png' %}" alt="" /></a></li>
							<li><a href="#"><img src="{% static 'images/suzuki.png' %}" alt="" /></a></li>
							<li><a href="#"><img src="{% static 'extra-images/partner-img-5.jpg' %}" alt="" /></a></li>
							<li><a href="#"><img src="{% static 'images/renault.png' %}" alt="" /></a></li>
							<li><a href="#"><img src="{% static 'images/suzuki.png' %}" alt="" /></a></li>
							<li><a href="#"><img src="{% static 'extra-images/partner-img-5.jpg' %}" alt="" /></a></li>
							<li><a href="#"><img src="{% static 'images/renault.png' %}" alt="" /></a></li>
							<li><a href="#"><img src="{% static 'images/suzuki.png' %}" alt="" /></a></li>
							<li><a href="#"><img src="{% static 'extra-images/partner-img-5.jpg' %}" alt="" /></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Main End --> 

   
	
	{% endblock content %}


    